.acontainer {
  left:0;
  padding:0;
  margin:0;
  background-color: black;
  }
.navHeader{
  margin-left:12.5rem ;
  background-color:rgba(240,238,255,0.1) !important;
  height: 60px;
  border-radius: 10px;
 color: rgba(255, 255, 255, 0.8);
 padding-left: 45px;
 padding-top: 4 px;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background: black;
    color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    opacity: .9;
  }
    
.sidebarText{
  padding-top:15px;
  padding-bottom:15px;
}
.sliderLogo{
  padding:30px;
}
.sidebar a {
  padding: 10px 0;
  font-size: 16px;
  margin: 5px 20px;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Poppins", Arial, sans-serif;
}
.sidebar a:hover {
  color: #FFD700;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a, .sliderLogo {text-align: center;
    float: none;
    }
  div.homeContainer,.navHeader  {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a,.sliderLogo {
    width:100%;
    text-align: center;
    float: none;
  }
}


.delTop{
padding: 15px;
border-radius: 0;
background-color: black;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
}


.table-responsive{
padding-right:30px;
}
.tableBox{
display:block;
height:auto;
background-color:black;
margin:15px;
padding:20px;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16),
                      0 0px 2px 0 rgba(0, 0, 0, 0.12);
}
.homeContainer {
min-height: 100vh;
margin-left: 12.5rem ;
display: flex;
flex-direction: column;
background-color:black; 
}
@media screen and (max-width: 700px){
.homeContainer{
margin-left:10px;

}
}
html,
body {
padding: 0;
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

* {
box-sizing: border-box;
}
.selectDark{
  color:white;
  background-color:#1d2124;
}


.formControl{
  width: 100%;
  height: 40px;
  border: none;
  background-color:rgba(240,238,255,0.1) !important;
  color: rgba(255,255,255,0.8);
}
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.mt{
  margin-top: -6px;
  width: 101.5%;
}
.focus-input100::before {
  content: "";
  display: block;
  width: 0;
  margin-top: -2px;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #FFD700;
}


.formControl:focus + .focus-input100::before {
  width: 94.4%;
}


